.event_container{
  margin: auto;
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.event-image
{


  width: 50%;


}
.events
{
  /* margin-left:560px; */
  position: relative;
  width: 50%;
  height: 640px;
  display:inline-block;
  background: #FCFFE7;
}
.event-img{
  width: 50%;
}
.heading
{
position:absolute;
 margin-left:86px;
  margin-top:50px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 112.68%;


display: inline-block;
align-items: center;
letter-spacing: -0.02em;

color: #000000;
}
.event-type
{
  padding-top:24px;
  padding-left:19px;
  font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 112.68%;

width:320px;
display: inline-block;
align-items: center;
letter-spacing: -0.02em;

color: #000000;
}
.event-title-1
{
  padding-top:27px;
  padding-left:19px;
  font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 112.68%;
  width:300px;
display: inline-block;

letter-spacing: -0.02em;

color: #000000;

}
.event-card-1
{
  box-sizing: border-box;
  width: 350px;
  height: 120px;
  position:absolute;
  margin-left:86px;
  margin-top:149px;
  background: #FEFEFE;
border: 1px solid #DCD6D6;
}
.event-date-1
{
  position:absolute;

  width:120px;
  height:120px;
  padding-right:10px;
  background: #2B3467;
border: 1px solid #DCD6D6;
  font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 112.68%;


display: inline-block;
align-items: center;
text-align: center;
letter-spacing: -0.02em;

color: #FFFFFF;
}
.event-card-2
{
  box-sizing: border-box;
  width: 350px;
  height: 120px;
  position:absolute;
  margin-left:86px;
  margin-top:309px;
  background: #FEFEFE;
border: 1px solid #DCD6D6;
}
.event-card-3
{
  box-sizing: border-box;
  width: 380px;
height: 120px;
  position:absolute;
  margin-left:86px;
  margin-top:469px;
  background: #FEFEFE;
border: 1px solid #DCD6D6;
}
.upcom-evt
{


  width: 100%;
  height: 15%;
  background: #EB455F;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 46px;


  text-align: center;
   padding-top: 3%;

letter-spacing: -0.02em;

color: #FFFFFF;
}
<<<<<<< HEAD

.footer
{
  background-color: #BAD7E9;
  margin: auto;
  width: 100%;
  border: 3px;
  padding-top: 1.5%;
  /* padding-left: 40%; */

}

.Dfoot{

  margin: auto;
  width: 100%;
  border: 3px;
  padding-top: 2%;
  padding-left: 40%;
}

.flex-container{
  display: flex;
}

.container{
  display: flex;
}

.img{
  width: 50%;
  padding-left: 30%;
  border: 20px;
}
.image{
/*  width: 50%;
    padding-left: 90%;*/
    width: 50%;
    padding-left: 30%;
    border: 20px;
}

.txt{
  padding-up=30%;
}
.text{
  padding-up=30%;
  padding-left: 120%;

}
=======
.gallary_container
{

  background-color: #FCFFE7;
}
.gallery-img
{
  width:45%;
  margin: 0 auto 0 auto;
}
.img-container
{
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.about_container
{
    background-color: #FCFFE7;
    margin: auto;
    max-width: 1440px;
    width: 100%;

}
.about-title
{
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 112.68%;
/* or 63px */
padding-left: 5%;
padding-right: 5%;
padding-top: 5%;

display: flex;
align-items: center;
letter-spacing: -0.02em;

color: #EB455F;


}
.about
{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 118.18%;
/* or 28px */

display: flex;
align-items: center;
letter-spacing: 0.03em;

padding-left: 5%;
padding-right: 5%;
padding-top: 2%;
padding-bottom: 5%;

color: #000000;

}
.college-img{
    text-align: center;
    padding-bottom: 5%;
}
.image-NIT
{
    width: 85%;
    height: 85%;

}
>>>>>>> 9b3d910085f2d44e954c62814ed6d4aeb6432fe5

body{
background-color:  #FCFFE7
}

h1{
  margin-left: 5%;
  margin-bottom: 3%;
  font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
}
.image{
  /* margin-left: 10%; */
  background-color: white;
  margin-right: 10%;
  margin-left: 5%;
}
.title{
  padding-top: 2%;
  padding-left: 4%;
  padding-bottom: 3%;
  color: red;
}

.first{
  width: 40%;
  height:30%;
}
.description{
  display: inline-block;
  color:black;
  position :absolute;
  margin-top: 0;
  background-color: white;

  margin-right: 10%;

}
h3{
  padding-left: 4%;
}



.small{
  width: 60%;
  height: 15%;
  padding-left: 8%;
  margin-bottom: 5%;
  margin-top: 2%;



}

.icon1{
  padding-left: 10%;
  font-weight: Bold;

}

.Email{
  width: 60%;
  height: 15%;
  padding-left: 8%;
  margin-bottom: 5%;
  margin-top: 2%;


}

.icon2{
  padding-left: 10%;
  font-weight: Bold;

}
.Phone{
  width: 60%;
  height: 15%;
  padding-left: 8%;
  margin-top: 2%;


}

.icon3{
  padding-left: 10%;
  font-weight: Bold;

}

dl{
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 400;
}
.Phone{
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: bold;
}
dt{
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
}
