.event_container{
  margin: auto;
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.event-image
{
    
   
  width: 50%;
  
 
}
.events
{
  /* margin-left:560px; */
  position: relative;
  width: 50%;
  height: 640px;
  display:inline-block;
  background: #FCFFE7;
}
.event-img{
  width: 50%;
}
.heading
{
position:absolute;
 margin-left:86px;
  margin-top:50px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 112.68%;


display: inline-block;
align-items: center;
letter-spacing: -0.02em;

color: #000000;
}
.event-type
{
  padding-top:24px;
  padding-left:19px;
  font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 112.68%;

width:320px;
display: inline-block;
align-items: center;
letter-spacing: -0.02em;

color: #000000;
}
.event-title-1
{
  padding-top:27px;
  padding-left:19px;
  font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 112.68%;
  width:300px;
display: inline-block;

letter-spacing: -0.02em;

color: #000000;

}
.event-card-1
{
  box-sizing: border-box;
  width: 350px;
  height: 120px;
  position:absolute;
  margin-left:86px;
  margin-top:149px;
  background: #FEFEFE;
border: 1px solid #DCD6D6;
}
.event-date-1
{
  position:absolute;

  width:120px;
  height:120px;
  padding-right:10px;
  background: #2B3467;
border: 1px solid #DCD6D6;
  font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 112.68%;


display: inline-block;
align-items: center;
text-align: center;
letter-spacing: -0.02em;

color: #FFFFFF;
}
.event-card-2
{
  box-sizing: border-box;
  width: 350px;
  height: 120px;
  position:absolute;
  margin-left:86px;
  margin-top:309px;
  background: #FEFEFE;
border: 1px solid #DCD6D6;
}
.event-card-3
{
  box-sizing: border-box;
  width: 380px;
height: 120px;
  position:absolute;
  margin-left:86px;
  margin-top:469px;
  background: #FEFEFE;
border: 1px solid #DCD6D6;
}
.upcom-evt
{
   
   
  width: 100%;
  height: 15%;
  background: #EB455F;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
   
  
  text-align: center;
   padding-top: 3%;

letter-spacing: -0.02em;

color: #FFFFFF;
}
.gallary_container
{
  position:absolute;
  background-color: #FCFFE7;
}
.gallery-img
{
  width:45%;
  margin: 0 auto 0 auto;
}
.img-container
{
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}
